.txt, .txt1 {
  position: relative;
  top: -50px;
  left: -10%;
  font-size: 400%;
}

.txt1 {
  font-size: 300%;
  left: 8%;
}

.container {
  max-width: 1100px;
}

.imagen {
  position: relative;
  height: 600px;
  width: 690px;
  left: 50%;
  top: 90%;
}

.title-color {
  color: #e55550;
}

.sub {
  padding: 4px;
  width: 500px;
  height: 200px;
  text-align: justify;
}

p.sub1 {
  position: absolute;
  top: 35%;
  left: -12%;
}

.button, .button1 {
  position: relative;
  padding: 12px 40px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background: #FCBA7F;
  cursor: pointer;
  transition: all 0.3s ease;
  top: 100px;
  left: 170px;
}

.button1 {
  position: relative;
  margin-left: 50px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

div .card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #495C83;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  left: 15px;
}

.tit {
  color: #002B5B;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #495C83;
}

.card .button, .card .button1 {
  background-color: #f87474;
  color: rgb(227, 77, 77);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
  background-color: #002B5B;
  border: 2px solid;
  cursor: pointer;
}

h3 {
  color: #1b1c1f;
  font-size: 100%;
}

.button, .button1 {
  margin-top: 60%;
  left: 26%;
}

.curso {
  font-size: 320%;
  color: #1b1d1f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 42%;
}

.title {
  color: #1b1c1f;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

p {
  color: #002B5B;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  background-color: rgba(53, 163, 150, 0.8901960784);
  border-radius: 20px;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.text {
  font-size: 250%;
}

.logo {
  width: 120px;
}

.about {
  background-color: #A7D2CB;
  padding: 5%;
  border-top-right-radius: 37%;
  border-top-left-radius: 37%;
  border-right: 25%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.row {
  margin: 0;
}

#row-cursos img {
  border-radius: 20%;
}

#row-nosotros {
  background-size: cover;
}

.img1 {
  position: absolute;
  left: 70%;
  top: 150%;
  width: 30%;
  height: 60%;
}

.mover {
  position: relative;
  left: 3%;
}

.lista {
  color: #002B5B;
  font-size: 200%;
}

#row-servicios {
  background-size: cover;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

#row-nosotros img {
  border-radius: 50%;
  width: 300px;
}

#row-servicios img {
  border-radius: 50%;
  width: 300px;
}

#row-nosotros p {
  font-size: 14px;
}

#row-servicios p {
  font-size: 14px;
}

#row-datos {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  background-color: #A7D2CB;
  padding: 5%;
  border-top-right-radius: 14%;
  border-top-left-radius: 13%;
  border-right: 25%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.circulo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #B3FBFF;
}

.form-control {
  border-radius: 50px;
}

footer {
  background-color: black;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

footer a {
  text-decoration: none;
  color: white;
}

.foo {
  position: relative;
  left: 130%;
}

@media (max-width: 1240px) {
  .txt, .txt1 {
    position: relative;
    top: -50px;
    left: 1%;
    font-size: 400%;
  }
  .sub1 {
    margin-left: 10%;
  }
}
@media (max-width: 1100px) {
  .imagen {
    width: 600px;
  }
}
@media (max-width: 1180px) {
  .imagen {
    width: 550px;
    margin-left: 5%;
  }
}
@media (max-width: 940px) {
  .imagen {
    width: 550px;
    margin-left: -5%;
  }
}
@media (max-width: 1000px) {
  .imagen {
    width: 550px;
    margin-left: -10%;
  }
  .imagen {
    width: 500px;
    margin-top: 25%;
    margin-left: -35%;
  }
  .txt, .txt1 {
    font-size: 0%;
  }
  .sub1 {
    font-size: 0%;
  }
  .curso {
    margin-left: 22%;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
  div .card {
    height: 265px;
    width: 435px;
    padding: 40px 35px;
    background: #495C83;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    left: 15px;
  }
  .tit {
    color: #002B5B;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #495C83;
  }
  .card .button, .card .button1 {
    background-color: #f87474;
    color: rgb(227, 77, 77);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
    background-color: #002B5B;
    border: 2px solid;
    cursor: pointer;
  }
  p {
    font-size: 0%;
  }
  .button, .button1 {
    margin-top: 30%;
    margin-left: -11%;
  }
  .foo {
    position: relative;
    left: 10%;
  }
}
@media (max-width: 650px) {
  .imagen {
    position: relative;
    width: 50%;
    margin-left: -50%;
  }
  .txt, .txt1 {
    margin-left: 267%;
  }
  .sub1 {
    font-size: 0%;
  }
}
@media (max-width: 1000px) {
  .imagen {
    width: 500px;
    margin-top: 25%;
    margin-left: -35%;
  }
  .txt, .txt1 {
    right: 200%;
    margin-left: 40%;
  }
  .sub1 {
    font-size: 0%;
  }
}
@media (max-width: 700px) {
  .imagen {
    width: 500px;
    margin-top: 25%;
    margin-left: -35%;
  }
  .txt, .txt1 {
    font-size: 0%;
  }
  .sub1 {
    font-size: 0%;
  }
  .curso {
    margin-left: 22%;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
  div .card {
    height: 265px;
    width: 435px;
    padding: 40px 35px;
    background: #495C83;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    left: 15px;
  }
  .tit {
    color: #002B5B;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #495C83;
  }
  .card .button, .card .button1 {
    background-color: #f87474;
    color: rgb(227, 77, 77);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
    background-color: #002B5B;
    border: 2px solid;
    cursor: pointer;
  }
  p {
    font-size: 0%;
  }
  .button, .button1 {
    margin-top: 70%;
    margin-left: -29%;
  }
  .foo {
    position: relative;
    left: 10%;
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    background-color: #5080E5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 20px;
  }
}
nav {
  z-index: 100;
}/*# sourceMappingURL=styles.css.map */